<!-- {% extends "layout.html" %} -->


<!-- {% block body %} -->
    <!-- <h1>privacy Page(admin)</h1> -->

<!-- {% endbody %} -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>player</title>
    <link rel="stylesheet" href="stylesheet.css">    

</head>
<body>

    <div id="login">
        <input type="text" value="" id="id">
        <input type="text" value="" id="pass">
        <input type="button" value="Login" id="btn">
        <h2 class="non" id="non"></h2>

    </div>

    <div class="q" id="admin">
        <h1>privacy Page(admin)</h1>
        <a href="index.html">Index</a>
        <a href="add.html">Add</a>

    </div>

    <script src="main1.js"></script>    
</body>
</html>