.p {
    text-align: center;
    font-size: 20px;
    color:rgb(243, 16, 209)

}




.tytol {
    color:rgb(105, 79, 233);
    font-size: 30px;
    text-align: center;
    background-color: lightseagreen;
    background-attachment: fixed;
   

}

.subTytol {
    color:rgb(105, 79, 233);
    font-size: 25px;
    text-align: center;
    background-color: antiquewhite;

}


.q {
    background-color: aquamarine;

}

.non {
    color:red;
}
body {
    background-color:rgb(0, 162, 224);
    text-align: center;
}

.loading {
    margin: auto;
}

.icon {
    width:300px;
    height:300px;
}

.logo {
    width:600px;
    height:150px;

}

.photos {
    background-color:aquamarine;
    border-bottom: none;
}

nav {
    background-color:aqua;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
}

nav ul {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 960px;
    margin: 8px auto;
    list-style: none;
    
    
}

nav ul li {
    text-align: center;
}

nav a {
    text-decoration: none;
}

.title_txt {
    color:skyblue;
    font-size: 25px;
}

.photo {
    width:30%; 
    height:30%;
   
    margin: auto;
}

footer {
    color:white;
    background-color: black;
}

.copyright {
    color: white;
}

.btn {
    color:rgb(250, 60, 92);
    background-color: pink;
    border:1px solid #333;
    border-radius: 5px;
}


/* スマホ用ヘッダのスタイル*/
@media screen and (max-width:960px) {
    .logo {
      width: 100%;
      height: 100%;
      margin-bottom: 32px;
    }

    .photo {
        margin: auto;
        width: 90%;
        height: 90%;
    }
  

}